<div class="container" style="margin-top: 20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>File Upload/ Download Simulator</h4>
    </div><br>
    <div class="panel-body">
      <strong>Wähle eine Date in deinem PC aus</strong>
      <div *ngIf="fileStatus.status==='progress'">
        <div class="progress">
          <div [style.width.%]="fileStatus.percent"
               class="progress-bar progress-bar-animated bg-info"
               role="progressbar"
               aria-valuenow="50"
               aria-valuemin="0"
               aria-valuemax="100"
          >
            {{ fileStatus.requestType }} {{ fileStatus.percent }}
          </div>
        </div>
      </div> <hr>

      <form enctype="multipart/form-data">
        <fieldset>
          <div class="form-group">
            <div>
              <input type="file" (change)="onUploadFiles($event.target.files)" name="files" multiple class="form-control" />
            </div>
          </div>
        </fieldset>
      </form>

      <br>

      <div *ngIf="filenames.length > 0" class="js-upload-finished">
        <h3>Verarbeitete Dateien</h3>
        <div *ngFor="let filename of filenames" class="list-group">
          <a (click)="onDownloadFiles(filename)" class="list-group-item list-group-item-success" style="cursor: pointer;">
            {{ filename }}
            <a class="alert-success float-right">Download</a>
          </a><br>
        </div>
      </div>

    </div>
  </div>
</div>
